<?xml version="1.0" encoding="utf-8"?>
<!--
    AndroidManifest.xml - Bài 1
    - Khai báo 3 Activity: LoginActivity (launcher), RegisterActivity, MainActivity
    - LoginActivity là Activity khởi động đầu tiên (có intent-filter LAUNCHER)
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bai1_startactivityforresult">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bai1 - Login App"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- Activity khởi động đầu tiên khi mở app -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity đăng ký - không cần intent-filter vì được gọi tường minh -->
        <activity android:name=".RegisterActivity" />

        <!-- Activity chính sau đăng nhập -->
        <activity android:name=".MainActivity" />

    </application>
</manifest>
